<ul>
<li>felix-client: performance improvement.</li>
<li>felix-client: new logging library.</li>
<li>felix-tohost: bugfix to prevent heap overflow.</li>
<li>felix-tohost: further performance improvement for buffered readout.</li>
</ul>