<ul>
<li>Introduction of felix-client(-thread) interface, used by SWROD and ScaSoftware for easy-to-configure netio-next-based communication</li>
<li>Bugfixes in felixcore to solve communication disruption with SCA chips</li>
<li>Updates to FelixID structure for improved future compatibility</li>
<li>Fixes for stream ID subscription and memory access in felix-star</li>
</ul>
