<ul>
<li>felix-tohost: TTC2H network buffer (netio page) flushed at end of block from
firmware. No need to tune timer, page size of watermark. </li>
<li>felix-tohost: fix for inconsistent advancement of DMA read pointer in
zero-copy (unbuffered) mode. This fix prevents unexpected BUSY from full DMA
buffer at start or during a run.</li>
<li> felix-tohost monitoring: distinguish between 0% and 100% DMA buffer occupancy.</li>
<li>felix-register: report "Err" link alignemnt state as 2 (0 is NO, 1 is OK)</li>
<li>felix-client: stability improvements, race conditions fixed.</li>
<li>felix-client: non-blocking send_data function.</li>
<li>netio-next: many memory leaks related to release of network resources fixed.</li>
<li>netio-next: improvement to give the same priority to all connections.</li>
<li>netio-next: start publishing data when the connection is established not as
early as a subscription message is parsed.</li>
</ul>
