<ul>
<li>First complete implementation of supervisor-based process orchestration</li>
<li>Add DCS-specific sockets (buffered and unbuffered) in netio-next with optimised default configuration parameters</li>
<li>Improved thread safety in felix-client</li>
<li>Improved felix-star statistics production</li>
<li>Improved logging in netio-next</li>
<li>Adds unbuffered mode for felix-client and toflx</li>
<li>Introduces mechanism to remotely configure the felix card registers (via felix-register application)</li>
<li>Improves subscription mechanism (via felix-client), with some parameters set to suitable defaults (or populated automatically) to streamline the configuration process</li>
<li>Support for SCA command grouping (e.g. for JTAG programming) via felix-client</li>
<li>felix-bus has been re-implemented to be filesystem rather than network-based. As such, felix-dir2bus and felix-buslist are now deprecated. Bus information is now written to disc where specified by felix-tohost's command line option --bus-dir. See the user manual for full details on this, plus resuting changes required for users of OKS configuration for SW ROD</li>
<li>Sofware is now less CPU-hungry, with additional optimisations through hardware offloading when Mellanox NICs are used</li>
<li>Modification to FELIX ID (FID) definition - virtual E-links, such as those carrying TTC2Host information, will now be identified by a specific bit set to value 1. Please consult the <a href="https://atlas-project-felix.web.cern.ch/atlas-project-felix/user/docs/LinkMappingSpecification.pdf">Link Mapping Specification Document<a> for more information.
</ul>
