<ul>
    <li>[felix-star] Refactored felix-star: capable of reading multiple DMA buffers and using more than one thread to read one. </li>
    <li>[felix-star] Publisher of felix-star monitoring information to felix-monitor.</li>
    <li>[felix-star] felix-monitor: a containerized solution to visualise felix-star monitoring information.</li>
    <li>[felix-star, ftools] Support for ToHost chunk header data format.</li>
</ul>