<ul>
<li>felix-tohost: performance improvement.</li>
<li>felix-tohost: number of subscriptions added to statistics.</li>
<li>felix-toflx: network buffer management in netio-next.</li>
<li>netio-next: memory leak fixed.</li>
<li>netio-next: network buffers posted earlier for both dsubscriptions and data.</li>
<li>netio-next: protection for excessive buffer allocation.</li>
</ul>
