<ul>
<li>Fixes for write pointer in unbuffered mode</li>
<li>Reworked eventloop in netio-next</li>
<li>Improved clean-up process when deleting felix-client and felix-client-thread</li>
<li>Minor bug fix point release based on P1 commissioning experience</li>
<li>Fixed memory registration for TTC and DCS in unbuffered mode</li>
<li>cdma in felix-toflx fixed</li>
</ul>
