<ul>
<li>Improved support for AlmaLinux9</li>
<li>felix-star: fix re-claiming of CMEM buffer on Alma9.</li>
<li>felix-tohost: dedicated thread for event loop, statistics publication on main thread.</li>
<li>felix-client: protection for messages exceeding network buffer size.</li>
</ul>