<ul>
<li>Minor bugfix point release based on P1 commissioning experience</li>
<li>Felix-client stability improvements</li>
<li>Fix for flx-info resource conflict</li>
<li>felix-supervisor ERS message type fix</li>
<li>felix2atlas supervisor integration fix</li>
<li>Add fscads24 to distribution</li>
</ul>
